[submodule "components/mo-form-elements"]
	path = components/mo-form-elements
	url = D:\\sitios-webs\\mo_litelement\\components\\mo-form-elements
[submodule "components/mo-icons"]
	path = components/mo-icons
	url = D:\\sitios-webs\\mo_litelement\\components\\mo-icons
